
@media (max-width: 768px) {
  .about-header {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
  }
  .profile-pic {
    width: 120px;
    height: 120px;
  }

  .skills-list{
    grid-template-columns: repeat(1, 1fr) !important;
  }

  #contacts-container {
    grid-template-columns: 1fr !important;
  }

  .project-card {
    width: 100% !important;
    margin-bottom: 1.5rem;
  }

  body, #skills, #contacts, #projects {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  iframe {
    height: 400px;
  }

  #nav-toggle {
    display: block;
  }

  #nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: #1f1f1f;
    flex-direction: column;
    width: 150px;
    display: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.7);
  }
  #nav-links.show {
    display: flex;
  }
  #nav-links li {
    padding: 0.8rem 1rem;
  }
  #nav-links li a {
    display: block;
  }

  #lang-toggle {
    order: 2;
  }

}